*{
    margin: 0;
    padding: 0;
}

.max-width1{
    width: 80vw;
}

.max-width2{
    width: 60vw;
}

.m-auto{
    margin: auto;
}

.my-2{
    margin-top: 32px;
    margin-bottom: 32px;

}